Repository harfbuzz/harfbuzz, pull requests merged in 2020-05, with the labels that each got.

#2314 Add a not discardable bool type, hb_success_t
  src/hb-open-type.hh
  src/hb.hh
Labels: subset

#2391 [docs] Don’t recommend outdated FDO releases pages
  docs/usermanual-install-harfbuzz.xml
Labels: documentation

#2393 [subset] fix intersects () for Context/ChainContext tables
  src/hb-ot-layout-gsubgpos.hh
Labels: subset

#2369 [subset] Add support for "--gids" option
  src/hb-ot-cmap-table.hh
  src/hb-ot-os2-table.hh
  src/hb-subset-plan.cc
  src/hb-subset-plan.hh
  test/api/test-subset-cmap.c
  test/subset/data/Makefile.sources
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.61,62,63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.61,63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.61.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.62.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.gids.retain-all-codepoint.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.61,62,63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.61,63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.61.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.62.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.gids.retain-all-codepoint.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.61,62,63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.61,63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.61.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.62.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.gids.retain-all-codepoint.ttf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E00,4E02,4E03.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E00,4E03.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E00,4E05,4E07.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E02,4E03,4E08.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E02.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E03.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E05,4E07,4E08,4E09.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E08,4E09.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.4E08.otf
  test/subset/data/expected/cmap14/cmap14_font1.gids.retain-all-codepoint.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E00,4E02,4E03.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E00,4E03.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E00,4E05,4E07.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E02,4E03,4E08.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E02.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E03.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E05,4E07,4E08,4E09.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E08,4E09.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.4E08.otf
  test/subset/data/expected/cmap14/cmap14_font2.gids.retain-all-codepoint.otf
  test/subset/data/expected/japanese/Mplus1p-Regular.default.25771.ttf
  test/subset/data/expected/japanese/Mplus1p-Regular.drop-hints.25771.ttf
  test/subset/data/expected/japanese/Mplus1p-Regular.keep-gdef.25771.ttf
  test/subset/data/profiles/gids.txt
  test/subset/data/tests/basics.tests
  test/subset/data/tests/cmap14.tests
  test/subset/data/tests/japanese.tests
  test/subset/meson.build
  util/options-subset.cc
Labels: subset

#2411 meson: error out if introspection is enabled but gobject isn't
  src/meson.build
Labels: meson

#2357 [meson] Generate harfbuzz.cc, hb-version.h and ragel artifacts
  src/Makefile.am
  src/gen-harfbuzzcc.py
  src/gen-hb-version.py
  src/gen-ragel-artifacts.py
  src/meson.build
Labels: meson

#2412 meson: build documentation with gtk-doc
  docs/Makefile.am
  docs/meson.build
  meson.build
  meson_options.txt
Labels: meson

#2397 [subset] GSUB5/GPOS7 Contextual Subst/Pos Subtbale Subsetting support
  src/hb-ot-layout-gsubgpos.hh
  src/hb-subset.cc
  src/hb-subset.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.41,42.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.41,43.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.41.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.41,42.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.41,43.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.41.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.41,42.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.41,43.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.41.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.41,42.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.41,43.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.41.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.41,42.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.41,43.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.41.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.41,42,43.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.41,42.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.41,43.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.41.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/fonts/gpos_context1_multiple_subrules_f1.otf
  test/subset/data/fonts/gpos_context2_multiple_subrules_f1.otf
  test/subset/data/fonts/gpos_context3_simple_f1.otf
  test/subset/data/tests/layout.context.tests
Labels: subset

#2196 [subset] GDEF AttachList subsetting support
  src/hb-ot-layout-gdef-table.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.default.A01.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.default.A05,A06.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.default.A07,A1B.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.default.retain-all-codepoint.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.drop-hints.A01.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.drop-hints.A05,A06.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.drop-hints.A07,A1B.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.drop-hints.retain-all-codepoint.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.keep-gdef.A01.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.keep-gdef.A05,A06.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.keep-gdef.A07,A1B.ttf
  test/subset/data/expected/layout.gdef-attachlist/IndicTestJalandhar-Regular.keep-gdef.retain-all-codepoint.ttf
  test/subset/data/fonts/IndicTestJalandhar-Regular.ttf
  test/subset/data/tests/layout.gdef-attachlist.tests
Labels: subset
