Repository harfbuzz/harfbuzz, pull requests merged in 2021-04, with the labels that each got.

#2845 Fix to export target include directories
  CMakeLists.txt
Labels: CMake

#2933 [subset] clamp distance to prevent shifting out of the limits of int64.
  src/hb-repacker.hh
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-4961171477233664
Labels: subset

#2939 [subset] fix for fuzzer testcase
  src/hb-ot-layout-gpos-table.hh
Labels: subset

#2929 [subset] COLRv1 struct definitions
  src/hb-ot-color-colr-table.hh
Labels: subset

#2943 [subset] fix for fuzzer testcase
  src/hb-ot-layout-gpos-table.hh
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-5858518134554624
Labels: subset

#2951 [ci] Try to stop distcheck job from crashing gcc
  .circleci/config.yml
Labels: ci

#2936 [subset] fail on offset overflow in tables that we don't repack.
  src/hb-subset.cc
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-5229304507138048
Labels: subset

#2960 [hb-ot-layout] Document some return values
  src/hb-ot-layout.cc
Labels: documentation
