Repository harfbuzz/harfbuzz, pull requests merged in 2021-08, with the labels that each got.

#3103 [test] Remove unused shaping tests reference mode
  test/shaping/run-tests.py
Labels: tests

#3102 [test] Add batch mode to hb-subset and use it
  test/subset/run-repack-tests.py
  test/subset/run-tests.py
  util/hb-subset.cc
Labels: tests

#3124 [subset] fail in face builder if allocation for table sorting fails.
  src/hb-face.cc
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-5041767803125760
Labels: subset

#3121 Fix up `hb-subset --help-all`
  util/Makefile.sources
  util/ansi-print.cc
  util/ansi-print.hh
  util/face-options.hh
  util/font-options.hh
  util/hb-ot-shape-closure.cc
  util/hb-shape.cc
  util/hb-subset.cc
  util/hb-view.cc
  util/helper-cairo-ansi.cc
  util/helper-cairo-ansi.hh
  util/helper-cairo.cc
  util/helper-cairo.hh
  util/main-font-text.hh
  util/meson.build
  util/options.cc
  util/options.hh
  util/output-options.hh
  util/shape-consumer.hh
  util/shape-format.hh
  util/shape-options.hh
  util/subset-options.hh
  util/text-options.hh
  util/view-cairo.cc
  util/view-cairo.hh
  util/view-options.hh
Labels: subset

#3133 [subset] fix bug in parsing glyf flags.
  src/hb-ot-glyf-table.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/glyf_bug_3131/glyf_bug_3131.drop-hints-retain-gids.63,64,65,6F,70,71,72.ttf
  test/subset/data/expected/glyf_bug_3131/glyf_bug_3131.drop-hints-retain-gids.retain-all-codepoint.ttf
  test/subset/data/expected/glyf_bug_3131/glyf_bug_3131.retain-gids.63,64,65,6F,70,71,72.ttf
  test/subset/data/expected/glyf_bug_3131/glyf_bug_3131.retain-gids.retain-all-codepoint.ttf
  test/subset/data/fonts/glyf_bug_3131.ttf
  test/subset/data/tests/glyf_bug_3131.tests
  test/subset/meson.build
Labels: subset

#3139 [test] Add some real reverse sub tests
  test/shaping/data/in-house/fonts/1b66a1f4b076b734caa6397b3e57231af1feaafb.ttf
  test/shaping/data/in-house/fonts/3f24aff8b768e586162e9b9d03b15c36508dd2ae.ttf
  test/shaping/data/in-house/tests/reverse-sub.tests
Labels: tests

#3148 Build win64 binaries
  .ci/build-win64.sh
  .circleci/config.yml
Labels: ci

#3158 [subset] make glyph-names option match fonttools behavior
  src/hb-ot-post-table-v2subset.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/glyph_names/Ubuntu-Regular.glyph-names.0x0,0x8,0x9,0x1d,0x20,0xb7.ttf
  test/subset/data/expected/glyph_names/Ubuntu-Regular.glyph-names.retain-all-codepoint.ttf
  test/subset/data/fonts/Ubuntu-Regular.ttf
  test/subset/data/tests/glyph_names.tests
  test/subset/meson.build
Labels: subset

#3178 [subset] speedup cmap4 subsetting for large codepoint counts.
  src/hb-ot-cmap-table.hh
Labels: subset

#3146 [subset] proposed update to subset set apis.
  src/hb-subset-input.cc
  src/hb-subset-input.hh
  src/hb-subset-plan.cc
  src/hb-subset.h
  test/api/test-subset.c
Labels: subset
