Repository harfbuzz/harfbuzz, pull requests merged in 2021-09, with the labels that each got.

#3177 [subset] handle cmap4 overflows.
  src/hb-ot-cmap-table.hh
  src/hb-serialize.hh
Labels: subset

#3188 [test] Make shape test names match file names
  test/shape/meson.build
Labels: tests

#3187 [test] Add tests for Arabic decomposition
  test/shape/data/in-house/Makefile.sources
  test/shape/data/in-house/fonts/3e46c3b84c1370a06594736c7f8acebf810bbb3b.ttf
  test/shape/data/in-house/fonts/872d2955d326bd6676a06f66b8238ebbaabc212f.ttf
  test/shape/data/in-house/meson.build
  test/shape/data/in-house/tests/arabic-decomposition.tests
Labels: tests

#3185 [subset] fix for (Chain)ContextFormat3: subset lookupRecord
  src/hb-ot-layout-gsubgpos.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.tinos/Tinos-Italic.default.5bf,5f0,5f1,5f2,fb21,fb22,fb23,fb24,fb25,fb26,fb27,fb28.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.default.retain-all-codepoint.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.glyph-names.5bf,5f0,5f1,5f2,fb21,fb22,fb23,fb24,fb25,fb26,fb27,fb28.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.notdef-outline.5bf,5f0,5f1,5f2,fb21,fb22,fb23,fb24,fb25,fb26,fb27,fb28.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.notdef-outline.retain-all-codepoint.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.retain-gids.5bf,5f0,5f1,5f2,fb21,fb22,fb23,fb24,fb25,fb26,fb27,fb28.ttf
  test/subset/data/expected/layout.tinos/Tinos-Italic.retain-gids.retain-all-codepoint.ttf
  test/subset/data/fonts/Tinos-Italic.ttf
  test/subset/data/tests/layout.tinos.tests
  test/subset/meson.build
Labels: subset

#3210 CMake: Detect pthread with module FindThread
  CMakeLists.txt
Labels: CMake

#3222 [subset] add closure_glyphs () method for MATH table
  src/hb-ot-math-table.hh
Labels: subset

#3204 [subset] fix find_duplicate_features
  src/hb-ot-layout-gsubgpos.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.default.20,2f,38,49,4c,51,53,66,67,6f,b4,2044.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.default.retain-all-codepoint.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.glyph-names.20,2f,38,49,4c,51,53,66,67,6f,b4,2044.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.notdef-outline.20,2f,38,49,4c,51,53,66,67,6f,b4,2044.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.notdef-outline.retain-all-codepoint.ttf
  test/subset/data/fonts/AlegreyaSans-BlackItalic.ttf
  test/subset/data/tests/layout.duplicate_features.tests
  test/subset/meson.build
Labels: subset

#3224 [subset] Fix subset_offset_array adding unused space to serializer.
  src/hb-ot-layout-common.hh
  src/hb-ot-layout-gpos-table.hh
  src/hb-ot-layout-gsubgpos.hh
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.default.retain-all-codepoint.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/layout.duplicate_features/AlegreyaSans-BlackItalic.notdef-outline.retain-all-codepoint.ttf
  test/subset/data/expected/layout.gpos2/gpos2_1_font7.layout-test-retain-gids.21,23,25.otf
  test/subset/data/expected/layout.gpos2/gpos2_1_font7.layout-test.21,23,25.otf
  test/subset/data/expected/layout.gsub5/gsub_context1_multiple_subrules_f2.layout-test-retain-gids.41,42.otf
  test/subset/data/expected/layout.gsub5/gsub_context1_multiple_subrules_f2.layout-test.41,42.otf
  test/subset/data/expected/layout.gsub5/gsub_context2_multiple_subrules_f2.layout-test-retain-gids.41,42.otf
  test/subset/data/expected/layout.gsub5/gsub_context2_multiple_subrules_f2.layout-test.41,42.otf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.default.627,644,623,62D,644,627,645,2E.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.default.627,644,62D,628.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.default.627,644.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.default.633,645,627,621,20,644,627.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.default.63A,64A,631.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.retain-gids.627,644,623,62D,644,627,645,2E.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.retain-gids.627,644,62D,628.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.retain-gids.627,644.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.retain-gids.633,645,627,621,20,644,627.ttf
  test/subset/data/expected/layout.notonastaliqurdu/NotoNastaliqUrdu-Bold.retain-gids.63A,64A,631.ttf
  test/subset/data/expected/variable/Fraunces.default.26,66,69,124,125.ttf
Labels: subset

#3223 [subset] subset MATH table
  src/hb-ot-layout-common.hh
  src/hb-ot-math-table.hh
  src/hb-subset-plan.cc
  src/hb-subset-plan.hh
  src/hb-subset.cc
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/math/STIXTwoMath-Regular.default.2f,7c,305.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.default.retain-all-codepoint.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.glyph-names.2f,7c,305.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.notdef-outline.2f,7c,305.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.notdef-outline.retain-all-codepoint.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.retain-gids.2f,7c,305.ttf
  test/subset/data/expected/math/STIXTwoMath-Regular.retain-gids.retain-all-codepoint.ttf
  test/subset/data/fonts/STIXTwoMath-Regular.ttf
  test/subset/data/tests/math.tests
  test/subset/meson.build
Labels: subset

#3236 [subset] Fix bug in composite operation counting.
  src/hb-ot-glyf-table.hh
Labels: subset

#3237 [subset] fuzzer fix
  src/hb-ot-math-table.hh
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-6616166961905664
Labels: subset
