Repository harfbuzz/harfbuzz, pull requests merged in 2021-02, with the labels that each got.

#2825 Disable benchmark feature by default
  meson.build
  meson_options.txt
Labels: meson

#2740 [subset] don't set lookup visited in closure_lookups_context_t::recurse.
  src/hb-ot-layout-gsubgpos.hh
Labels: subset

#2699 [subset] Add a more complex layout subsetting test case and fix the issues it exposed.
  src/hb-ot-layout-common.hh
  src/hb-ot-layout-gpos-table.hh
  src/hb-ot-layout-gsub-table.hh
  src/hb-ot-layout-gsubgpos.hh
  src/hb-subset-plan.cc
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context1_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context2_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.context/gpos_context3_simple_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos3/gpos3_font3.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos3/gpos3_font3.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos4/gpos4_multiple_anchors_1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos4/gpos4_multiple_anchors_1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos6/gpos6_font1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos6/gpos6_font1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout-retain-gids.627,644,623,62D,644,627,645,2E.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout-retain-gids.627,644,62D,628.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout-retain-gids.627,644.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout-retain-gids.633,645,627,621,20,644,627.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout-retain-gids.63A,64A,631.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout.627,644,623,62D,644,627,645,2E.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout.627,644,62D,628.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout.627,644.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout.633,645,627,621,20,644,627.ttf
  test/subset/data/expected/layout.gpos8.amiri/Amiri-Regular.keep-layout.63A,64A,631.ttf
  test/subset/data/expected/layout.gpos8/gpos_chaining1_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8/gpos_chaining1_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8/gpos_chaining2_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8/gpos_chaining2_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8/gpos_chaining3_simple_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos8/gpos_chaining3_simple_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining1_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining1_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining2_multiple_subrules_f1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining2_multiple_subrules_f1.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining3_simple_f2.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gsub6/gsub_chaining3_simple_f2.keep-layout.retain-all-codepoint.otf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout-retain-gids.41,42,43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout-retain-gids.41,43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout-retain-gids.41.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout-retain-gids.43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout-retain-gids.CA,CB.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout.41,42,43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout.41,43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout.41.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout.43.ttf
  test/subset/data/expected/layout/Roboto-Regular.smallcaps.keep-layout.CA,CB.ttf
  test/subset/data/fonts/Amiri-Regular.ttf
  test/subset/data/profiles/keep-layout-retain-gids.txt
  test/subset/data/profiles/keep-layout.txt
  test/subset/data/tests/layout.gpos8.amiri.tests
  test/subset/meson.build
Labels: subset

#2701 [subset] GPOS 5 MarkToLigature subsetting support
  src/hb-ot-layout-gpos-table.hh
  test/subset/data/Makefile.am
  test/subset/data/Makefile.sources
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42,43,44.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42,43,45.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42,43.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42,44.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42,45.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,42.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41,43.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.41.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.42.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout-retain-gids.retain-all-codepoint.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42,43,44.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42,43,45.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42,43.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42,44.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42,45.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,42.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41,43.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.41.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.42.otf
  test/subset/data/expected/layout.gpos5/gpos5_font1.keep-layout.retain-all-codepoint.otf
  test/subset/data/fonts/gpos5_font1.otf
  test/subset/data/tests/layout.gpos5.tests
  test/subset/meson.build
Labels: subset

#2859 [indic] Fix shaping of U+0B55 ORIYA SIGN OVERLINE
  src/hb-ot-shape-complex-indic.hh
  test/shaping/data/in-house/fonts/b3075ca42b27dde7341c2d0ae16703c5b6640df0.ttf
  test/shaping/data/in-house/tests/indic-syllable.tests
Labels: Indic

#2858 [subset] fix heap buffer overflow found by fuzzer.
  src/hb-ot-layout-gpos-table.hh
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-4901143794810880
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-6372147008241664
Labels: subset
