Repository harfbuzz/harfbuzz, pull requests merged in 2021-07, with the labels that each got.

#3042 Don’t build Cairo subproject with FontConfig on win32 cross-build
  .ci/build-win32.sh
Labels: ci

#3056 [ci] Update XCode image
  .circleci/config.yml
Labels: ci

#3039 [subset] bail if region_map is in error.
  src/hb-bimap.hh
  src/hb-ot-layout-common.hh
Labels: subset

#3021 [subset] update hb_subset api with final changes before going stable.
  docs/harfbuzz-docs.xml
  docs/harfbuzz-sections.txt
  src/hb-set.hh
  src/hb-subset-input.cc
  src/hb-subset-input.hh
  src/hb-subset-plan.cc
  src/hb-subset-plan.hh
  src/hb-subset.cc
  src/hb-subset.h
  test/api/hb-subset-test.h
  test/api/test-subset-cff1.c
  test/api/test-subset-cff2.c
  test/api/test-subset-drop-tables.c
  test/api/test-subset-glyf.c
  test/api/test-subset-gvar.c
  test/api/test-subset-hdmx.c
  test/api/test-subset-hmtx.c
  test/api/test-subset-hvar.c
  test/api/test-subset-vvar.c
  test/api/test-subset.c
  test/fuzzing/hb-subset-fuzzer.cc
  util/hb-subset.cc
Labels: subset

#3072 [docs] Improve subset documentation
  docs/harfbuzz-sections.txt
  src/hb-subset-cff-common.cc
  src/hb-subset-cff1.cc
  src/hb-subset-cff2.cc
  src/hb-subset-input.cc
  src/hb-subset-plan.cc
  src/hb-subset.h
Labels: documentation, subset

#3071 [sebset] Use [s|g]et_flag for retain_all_layout_features
  docs/harfbuzz-sections.txt
  src/hb-subset-input.cc
  src/hb-subset.h
Labels: subset

#3067 [subset] support option --glyph-names
  src/Makefile.sources
  src/hb-ot-post-table-v2subset.hh
  src/hb-ot-post-table.hh
  src/hb-subset-input.cc
  src/hb-subset-input.hh
  src/hb-subset-plan.cc
  src/hb-subset-plan.hh
  src/hb-subset.cc
  src/hb-subset.h
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.61,62,63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.61,63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.61.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.62.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.63.ttf
  test/subset/data/expected/basics/Comfortaa-Regular-new.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.61,62,63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.61,63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.61.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.62.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.63.ttf
  test/subset/data/expected/basics/NanumMyeongjo-Regular-subset.glyph-names.retain-all-codepoint.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.61,62,63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.61,63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.61.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.62.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.63.ttf
  test/subset/data/expected/basics/Roboto-Regular.abc.glyph-names.retain-all-codepoint.ttf
  test/subset/data/profiles/glyph-names.txt
  test/subset/data/tests/basics.tests
  util/options-subset.cc
Labels: subset

#3075 [ci] Bin FontTools version due to recent COLRv1 changes
  .circleci/config.yml
  .github/workflows/linux-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/msvc-ci.yml
  .github/workflows/msys2-ci.yml
Labels: ci

#3076 [subset] add a note to hb-subset on what is and isn't supported
  src/hb-subset.cc
Labels: subset

#3041 [subset] Fix fuzzer timeout in add_gid_and_children.
  src/hb-ot-glyf-table.hh
  test/fuzzing/fonts/clusterfuzz-testcase-minimized-hb-subset-fuzzer-5991762219892736
Labels: subset
